<div class="mx-auto max-w-md bg-white rounded-lg border shadow-md sm: dark:bg-gray-800 dark:border-gray-700">
  <div class="flex justify-between items-center mb-4">
    <h5 class="p-3 text-3xl font-bold leading-none text-gray-900 dark:text-white">Last 5 watched</h5>
  </div>
  <div class="flow-root">
    <ul role="list" class="divide-y divide-gray-200 dark:divide-gray-700">
      <ng-container *ngFor="let item of (lastWatched.lastWatched$ | async)?.reverse()">
        <li class="p-3 sm:py-4 hover:bg-sky-500 hover:ring-sky-500 cursor-pointer" (click)="clickRow(item)">
          <div class="flex items-center space-x-4">
            <div class="flex-shrink-0">
              <img class="w-8 h-8 rounded-full" [src]="item.poster" alt="Neil image">
            </div>
            <div class="flex-1 min-w-0">
              <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                {{item.title}}
              </p>
            </div>
          </div>
        </li>
      </ng-container>
    </ul>
  </div>
</div>

